venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz

data
drivers
logs
*.log
*.log.*
*.log.*.*
*.log.*.*.*
*.log.*.*.*.*

*.zip
*.tar
*.tar.gz
*.tar.bz2
*.tar.xz
*.tar.lzma

.env
.env.local
.env.development
.env.production
.env.test
.env.test.local

nitrogen.env-info
nitrogen.env-info.local
nitrogen.env-info.development
nitrogen.env-info.production
nitrogen.env-info.test
nitrogen.env-info.test.local

setup_env.ps1
setup_env.ps1.local
setup_env.ps1.development
setup_env.ps1.production
setup_env.ps1.test
setup_env.ps1.test.local
